.vscode

.*
!.gitignore
!.gitkeep
bench
local
go
packer

!webapp/go

# 使わない言語
webapp/frontend
webapp/nodejs
webapp/perl
webapp/php
webapp/python
webapp/ruby
webapp/rust
webapp/java

webapp/tenant_db
webapp/sql/90_data.sql

webapp/docker-compose-*.yml
!webapp/docker-compose-go.yml

initial_data

env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh

env
!s1/home/isucon/env
!s2/home/isucon/env
!s3/home/isucon/env

logs
pprof

tmp

# ほか何かあれば適宜追加すること

discocat.yml